.background-image {
  background-image: url('../images/apples-3.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:400px;


  h1,h2 {
    text-align: center;
    color: $white;
    text-shadow:
    -1px -1px 0 $gray-darker,
    1px -1px 0 $gray-darker,
    -1px  1px 0 $gray-darker,
    1px  1px 0 $gray-darker;
  }

  h1{
    font-size: 3.2em;
    margin-top:1.6em;
    text-shadow:
    -2px -2px 0 $gray-darker,
    2px -2px 0 $gray-darker,
    -2px  2px 0 $gray-darker,
    2px  2px 0 $gray-darker;
    @media screen and (min-width: $screen-sm-min) {
      font-size: 5em;
      margin-top:0.8em;
    }
  }
  h2{
    font-size: 2em;
  }

}
.booking-pad{
  padding-left: 15px;
  padding-right: 15px;
}
.booking {
  background: $gray-darker;
  margin-top: -50px;
  padding: $padding-base-horizontal*2;
  text-align: center;
  color: #fff;
  p {
    padding-top: $padding-base-horizontal;
  }
}

.description{
  padding: $padding-base-horizontal*2 $padding-base-horizontal;
  line-height: 1.3em;
  font-size: 1.2em;
}

.alternative-accom{
  text-align: center;
}
