<!-- <div class="jumbotron">
<h1>The School House Castledermot</h1>
<p class="lead">
Always a pleasure scaffolding your apps.
</p>
<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
<h4>HTML5 Boilerplate</h4>
<p>
HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
</p>

<h4>Angular</h4>
<p>
AngularJS is a toolset for building the framework most suited to your application development.
</p>

<h4>Karma</h4>
<p>Spectacular Test Runner for JavaScript.</p>
</div> -->

<div class="background-image">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
        <h1>A Gem in the Heart of Kildare</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="booking-pad">
      <div class="booking col-xs-12">
        <a class="btn btn-primary btn-lg booking-com-button" href="http://www.booking.com/hotel/ie/the-school-house-carlow.en-gb.html">Book Now on Booking.com</a>
        <p>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Best Price Guaranteed
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="description col-xs-12 col-md-offset-2 col-md-8">
      <p class="lead">Situated near Carlow, The School House offers accommodation within a converted 20th century property. Featuring eclectic antique furniture and free onsite parking, it is in the middle of an early Christian settlement, with a round tower and Celtic crosses.</p>
      <p>Each room includes a seating area and a work desk. The private bath or shower rooms offers a hairdryer and bathrobes.</p>
      <p>Other facilities offered at the family-run School House include a shared lounge, luggage storage, and laundry facilities. The county town of Port Laoise is just 40 minutes' drive away. The County Carlow Military Museum is less than 20 minutes' drive away.</p>
    </div>
  </div>

  <div class="row">
    <div class="description col-xs-12 col-md-offset-2 col-md-8">
      <img src="images/pond.jpg" alt="Pond at the School House"/>
      <p class="img-title">The pond at the School House</p>
    </div>
  </div>

</div>
