<div class="background-image self-catering">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
        <h1>Self Catering</h1>
        <h2>at The School House</h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="booking-pad">
      <div class="booking col-xs-12">
        <a class="btn btn-primary btn-lg" href="mailto:doysan45@hotmail.com?subject=Self%20Catering%20@%20The%20School%20House:%20Booking">Book Now by Email</a>
        <p>
          Email for the Best Rates
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="description col-xs-12 col-md-offset-2 col-md-8">
      <p class="lead">
        Perfect for families or groups, Self Catering at The School House provides guests with the perfect accommodation for any holiday.
      </p>
      <p>
        With four beds, a fully fitted kitchen, bathroom and a living room with a stove. Self Catering provides everything one may need to be a perfect starting point to experience Ireland's East.
      </p>
      <p>
        The Self Catering Accommodation also has access to the gardens and ponds of the School House, and are invited to make use of the available Barbecue.
      </p>
      <p>
        Carlow and it's many attractions including <a href="http://carlowtourism.com/duckettsgrove/" title="More about Duckett's Grove">Duckett's Grove</a>, <a href="http://carlowtourism.com/brownshill-dolmen-2/" title="More about Brownshill Dolmen">Brownshill Dolmen</a> and the <a href="http://carlowtourism.com/altamont-gardens/" title="More about the Altamont Gardens">Altamont Gardens</a> are just a short drive away.
      </p>
      <p>
        Kildare and all it has to offer including <a href="http://www.curragh.ie/" title="More about the Irish National Stud and Gardens">The Curragh</a>, the <a href="http://irishnationalstud.ie/home" title="More about the Irish National Stud and Gardens">Irish National Stud and Gardens</a>, the <a href="http://www.newbridgesilverware.com/visit_us/visitors_centre" title="More about the Newbridge Silverware Visitor Center">Newbridge Silverware Visitor Center</a> are all nearby.
      </p>
      <p>Port Laoise is just 40 minutes' drive away. With Dublin and all it has to offer a short drive also.</p>
    </div>
  </div>

  <div class="row">
    <div class="description col-xs-12 col-md-6">
      <img src="images/self_sitting_room.jpg" alt="Sitting room, including stove, coach and assorted furniture available in Self Catering accommodation"/>
      <p class="img-title">Self Catering Accommodation's Sitting Room</p>
    </div>
    <div class="description col-xs-12 col-md-6">
      <img src="images/self_bedroom.jpg" alt="Bedroom, including two red bunk beds."/>
      <p class="img-title">The accommodation sleeps four people comfortably</p>
    </div>
  </div>

  <div class="row">
    <div class="description col-xs-12 col-md-6">
      <img src="images/self_bathroom.jpg" alt="Bathroom, including both a Bath and an Electric Shower"/>
      <p class="img-title">The bathroom contains both a bath and an electric shower</p>
    </div>
    <div class="description col-xs-12 col-md-6">
      <img src="images/self_kitchen.jpg" alt="Kitchen, containing a washing machine, oven, fridge, table and assorted utensils and pans"/>
      <p class="img-title">The kitchen includes everything you would expect in a kitchen and includes a washing machine.</p>
    </div>
  </div>

  <div class="row">
    <div class="description col-xs-12 col-md-6">
      <img src="images/bbq-john.jpg" alt="Guests of the Self Catering Accommodation have access to the garden, ponds and may use the BBQ"/>
      <p class="img-title">Guests of the Self Catering Accommodation have access to the garden, ponds and may use the BBQ</p>
    </div>
  </div>

  <div class="row">
    <div class="alternative-accom col-xs-12 col-md-offset-2 col-md-8">
      <h2>Looking for something a little more catered?</h2>
      <a href="#/" class="btn btn-info btn-lg" title="Visit Bed and Breakfast at The School House">We have Bed and Breakfast Options</a>
    </div>
  </div>
</div>
